<h1 id="einleitung">Einleitung</h1>
<p>Ob, bei Abgrenzung einzelner Baumkronen <span class="citation" data-cites="liu2015novel">(Liu, Im, and Quackenbush 2015)</span>, Dürrevorhersage und Bewertung sowie Kartierung von Vegetation <span class="citation" data-cites="szantoi2013analyzing">(Szantoi et al. 2013)</span>, um eine computergestützte Verarbeitung und Klassifizierung mit Support Vector Machine und Random Forest kommt man fasst nicht herum. Random Forest und Support Vector Machine sind sehr beliebte Algorithmen zur Klassifikation. In dieser Arbeit werden diese zwei beliebte Algorithmen mit einander verglichen. Es wird eine kurze Beschreibung der Funktionsweise geben, bei der mögliche theoretische schwächen und stärken der beiden Algorithmen diskutiert werden. Darauf folgt ein Praktischer Teil, bei dem beide Algorithmen auf den gleichen Datensatz angewendet werden. Die Ergebnisse werden validiert und ausgewertet. Zum Schluss gibt es eine Fehleranalyse der methodischen Durchführung und ein Fazit.</p>
<h1 id="funktionsweise-random-forest">Funktionsweise Random Forest</h1>
<p>Random Forest ist ein Algorithmus der viele verschiedene randomisierte Entscheidungsbäume erstellt. Jeder Entscheidungsbaum trifft seine Entscheidung. Da die Bäume auf unterschiedliche Ergebnisse kommen entscheidet die Mehrheit der Bäume, wie die Daten klassifziert werden<span class="citation" data-cites="livingston2005implementation">(Livingston 2005)</span>.</p>
<p>Jeder Baum wird an den Knoten mit zufällig ausgewählten Eigenschaften oder einer Kombination aus verschieden Eigenschaften gespalten.</p>
<p>Es wird jeder Baum nicht mit dem orginal Datensatz erstellt, sondern mit einem sogenannten Bootstrapped Datensatz. Der Prozess um einen Bootstrapped Datensatz zu erstellen heißt Bagging.</p>
<p>Bagging (kurz für Bootstrap aggregating) funktioniert, wie folgt: Für den Orginaldatensatz <span class="math inline"><em>D</em></span> mit der größe <span class="math inline"><em>n</em></span>, werden <span class="math inline"><em>m</em></span> (Anzahl der Entscheidungsbäume) Trainingsdatensätze <span class="math inline"><em>D</em><sub><em>i</em></sub></span> erstellt, jeder mit der größe <span class="math inline"><em>n</em>′</span>. Um die Traningsdatensätze <span class="math inline"><em>D</em><sub><em>i</em></sub></span> zu erstellen, wird jeweils eine Zufallstichprobe mit zurücklegen erstellt<span class="citation" data-cites="friedman2001elements">(Friedman, Hastie, and Tibshirani 2001)</span>.</p>
<p>Ziel des Baggings ist es Overfitting zu vermeiden, dass Modell soll also nicht zu angepasst auf die Orginaldaten sein.</p>
<p>Es handelt sich beim Random Forest um sogenanntes Ensamble learning, es werden mehre Alghorithmen mit einander benutzt, um eine bessere Perfomance zu ereichen. Es werden mehrere schwache Klassifikatoren in diesem Fall Entscheidungsbäume miteinander “verschmolzen”, um einen gut Klassifikator zu erstellen, dies wird auch Boosting genannt. Ziel ist es aus den schwachen Klassifikatoren, die Fehler behaftet sind, in unserem Fall die Entscheidungsbäume, einen Klassifkator zu erstellen, der wenige Fehler macht. Im Random Forest ist die Mehrheitswahl der Entscheidungsbäume die verschmelzung der schwachen Klassifikatoren<span class="citation" data-cites="xu2019bearing">(Xu et al. 2019)</span>.</p>
<p>Der Algorithmus geht wie folgt in Pseudocode:</p>
<ol type="1">
<li><p>für die Anzahl der Bäume</p></li>
<li><p>bootstrapped_datensatz = ziehe mit zurücklegen aus dem trainingsdatensatz mit der größe <span class="math inline"><em>N</em></span> einen Datensatz mit der größe <span class="math inline"><em>N</em></span></p></li>
<li><p>erstelle einen Baum im Random Forest aus dem boostrapped_datensatz bis die Mindestanzahl an Knoten erreicht ist</p>
<ol type="1">
<li>von den Variablen werden <span class="math inline"><em>m</em></span> ausgewählt
<ol start="2" type="1">
<li>verzweigungs_punkt = bester Punkt zum Teilen für Variablen <span class="math inline"><em>m</em></span> wird ausgewählt
<ol start="3" type="1">
<li>mit dem verzweigungs_punkt werden zwei weitere Knotenpunkte erstellt</li>
</ol></li>
</ol></li>
</ol></li>
<li><p>Gebe Menge an Bäumen aus</p></li>
<li><p>Klassifikation mit nicht Trainingsdaten</p></li>
<li><p>Liste mit Abstimmungen</p></li>
<li><p>für jeden Baum</p>
<ol type="1">
<li>füge neuen datensatz ein
<ol start="2" type="1">
<li>Baum trifft Entscheidung für Klasse
<ol start="3" type="1">
<li>Entscheidung wird in Liste mit Abstimmung gespeichert</li>
</ol></li>
</ol></li>
</ol></li>
<li><p>gebe Klasse mit den meisten Stimmen aus</p></li>
</ol>
<p>Darstellung vergleichbar mit <span class="citation" data-cites="friedman2001elements">Friedman, Hastie, and Tibshirani (2001)</span></p>
<h1 id="funktionsweise-support-vector-machine">Funktionsweise Support Vector Machine</h1>
<p><img src="SVM_margin.png" alt="Hypereben die mit maximalen Abstand zwei Klassen teilt (“SVM Margin - Support Vector Machine - Wikipedia,” n.d.)" /> Der Support Vector Machine Algorithmus könnte genauer sein, als andere beliebte Techniken<span class="citation" data-cites="foody">(Foody and Mathur 2004)</span>. Das besondere ist, dass SVM nur binär Klassen teilen kann. Es gibt aber Methoden, um mit SVM auch eine mehrklassige Klassifikation durch zu führen. Die Support Vector Machine teilt bei der Klassifikation die Klassengrenzen so ein, dass eine möglichst große Margin entsteht. Der Bereich der frei von Objekten ist soll also möglichst groß sein. Dadurch, dass SVM immer versucht zwischen den Klassengrenzen den größten Abstand zu erzeugen, werden Punkte, die eigentlich in anderen Algorithmen nur sehr unsicher klassifiziert werden deutlicher von einander getrennt <span class="citation" data-cites="manning2008introduction">(Manning, Schütze, and Raghavan 2008)</span>. Um die Trennung mit dem größten werden die Punkte zwischen den beiden Klassen betracht, diese Punkte nennt man Stützvektoren, auf englisch support vectors. Punkte die sich hinter den Stützvektoren befinden sind die sogenannten Traingsvektoren, diese sind für die Klassifzierung nicht von Bedeutung. Sie liegen hinter den Stützvektoren und beeinflussen die Trennungsebene nicht. Ist die Trennungsebene durch die SVM gefunden dient die Funktion der Trennungsebene als Entscheidungsfunktion. Nicht Trainingsdaten können nun mit dieser Entscheidungsfunktion klassifziert werden. Je nach dem auf welcher Seite ein neues Objekt ist, so wird es entsprechend klassfiziert. Am einfachsten ist diese Trennung, wenn die Objekte linear teilbar sind. Dabei werden die Klasengrenzen mit einer linearen Hyperebene gezogen<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a> <span class="citation" data-cites="adam">(Adam et al. 2014)</span>. Da man nicht immer die Klasen linear trennen kann kommt der sogenannte Kernel-Trick zum Einsatz. Unter Kernel-Trick versteht man verschiedene Funktionen, um die Daten zu Transformieren. Er funktioniert in dem die Trainingsdaten in höhere Dimensionen transformiert werden bis diese lineartrennbar sind. Da die Anzahl der möglichen Dimensionen unendlich ist kann immer eine möglichkeit gefunden werden die Klassengrenzen zuteilen. Um aber die Genauigkeit zu erhöhen, die Rechenleistung zu verringern und Overfitting zuvermeiden, kann mit einer Soft Margin gearbeitet werden. Es wird also erlaubt, dass einige Objekte innerhalb der Marigin sich befinden falsch klassifiziert werden. Dies führt dazu, das Ausreißer weniger gewichtet werden und auf der anderen Seite dazu, dass eine Hyperebene schneller gefunden werden kann. Um mehr als zwei Klassen zu klassifizieren wird in der bekannten SVM Implementation libsvm, die auch in der e1071 Library in R benutzt wird, die one-versus-one Strategie benutzt. Es es treten jeweils zwei Klassen gegeneinander an, die Klasse die Gewinnt erhält einen Punkt. Sind alle Klassen gegeneinander angetreten gewinnt die mit den meisten Punkten <span class="citation" data-cites="manning2008introduction">(Manning, Schütze, and Raghavan 2008)</span>.</p>
<h1 id="random-forest-und-support-vector-machine-in-der-praxis">Random Forest und Support Vector Machine in der Praxis</h1>
<p>Im Folgen den Teil soll der Bericht ein Beispiel einer Durchführung von SVM und RF in R geben. Es geht um die Auswahl der zu Klassfizierendendaten, Erstellen von Trainingsdaten, benutzen von R Paketen zur Anwendung von RF und SVM mit dem trainieren von den Modellen und der anschließenden Klassifikation sowie die Durchführung der externen Validierung. Danach wird die Genauigkeit der Erstelltendaten diskutiert mit möglichen Ursachen sowie Probleme die bei der Durchführung entstanden sind.</p>
<h2 id="bildinformationen-mit-welchen-daten-arbeiten-wir">Bildinformationen: Mit welchen Daten arbeiten wir</h2>
<p>In dem Bericht wird mit simulierten Hyperspektraldaten gearbeitet. Diese Daten wurden für das Environmental Mapping and Analysis Program kurz EnMAP erstellt. EnMAP ist eine Deutsche Hyperspektral-Satelliten Mission, welche das Ziel hat wichtige dynamische Prozesse der Ökosysteme der Erde messen und zu modellieren. Im Rahmen der Vorbereitungsphase von EnMAP werden Flugzeuggestützt EnMAP Daten simuliert, welche frei verfügbar unter https://www.enmap.org/data_tools/flights/ sind <span class="citation" data-cites="okujeni2016berlin">(Okujeni, Linden, and Hostert 2016)</span>.</p>
<p>Diese Daten passen perfekt in das Thema des Moduls (Urbane Fernerkundung Berlin), in Laufe dieser Bericht erstellt wurde.</p>
<h2 id="aufteilen-des-satellitenbild">Aufteilen des Satellitenbild</h2>
<p>Als erstes wird das Satellitenbild in zwei Bilder geteilt. Das eine Bild wird dazu genutzt die Trainingsdaten für SVM und RF zu erstellen und das andere Bild wird dazu benutzt die Klassifikatoren anzuwenden. Die daraus entstandene Klassfikation wird daraufhin extern validiert. Das Aufteilen wurde in Qgis durchgeführt.</p>
<p>Es wurde zwischen West und Ost in der Mitte geteilt.</p>
<h2 id="erstellung-der-trainingsdaten">Erstellung der Trainingsdaten</h2>
<h2 id="auswahl-der-klassen">Auswahl der Klassen</h2>
<p>Die Auswahl der Klassen war ein längerer Prozess. Es wurden immer wieder Klassen hinzugefügt und validiert bis eine passende Klasseneinteilung gefunden wurde. Trainingsdaten werden mit QGis und einem Polygonshapefile erstellt.</p>
<h2 id="trainingsdaten-in-r-laden-und-pixel-mit-klassen-zuordnung-extrahieren">Trainingsdaten in R laden und Pixel mit Klassen Zuordnung extrahieren</h2>
<p>Um die Trainingsdaten in R nutzten zu können und somit RF und SVM trainieren zu können, brauchen wir das Bild, mit dem der Trainigsshapefile erstellt wurde und den Trainingsshapefile. Im Trainingsshapefile sind die Informationen, wo sich welche Klassen befinden im Bild und im Bild sind die Pixel mit den Grauwerten für alle Spektralkanäle. Sind beide Dateien in R geladen kann nun mit Hilfe des Trainingsshapefile ein Dataframe erstellt werden, welches die Pixel entsprechend der Klassen aus dem Bild extrahiert. Wir haben nun einen Datenframe mit einer Reihe pro Pixel und eine Spalte pro Spektralkanal plus einer Spalte zur Klassen Zuordnung.</p>
<h2 id="trainieren-von-rf-und-svm">Trainieren von RF und SVM</h2>
<p>Mit unserem zuvor erstellten Dataframe können wir nun unsere Modelle trainieren. Für Random Forest benutzen wir das Paket randomForest und für Support Vector Machine nehmen wir das Paket e1071 mit der Funktion svm(). Zum trainieren brauchen beide Pakte als ersten Parameter die Pixel mit den Spektraldaten und als zweiten Parameter die zugehörigen Klassen.</p>
<h2 id="anwenden-von-rf-und-svm">Anwenden von RF und SVM</h2>
<p>Mit den beiden erstellten Modellen kann nun eine Klassifikation erstellt werden. In R benutzt man die Funktion predict(). Als erstes brauch predict das Bild auf dem die Modelle angewendet werden und als zweiten Parameter nimmt predict das Modell.</p>
<h2 id="darstellung-von-den-klassifikationen">Darstellung von den Klassifikationen</h2>
<p>Entweder stellt man die Ergebnisse über die Plotfunktion in R dar oder in einem anderen GIS Programm.</p>
<figure>
<img src="SVM%20vs.%20RF_NEU.png" alt="RF vs SVM" /><figcaption aria-hidden="true">RF vs SVM</figcaption>
</figure>
<p>Der erste Anschein lässt beide Klassifikationen sehr ähnlich erscheinen. Doch bei genauerer Betrachtung sieht man, dass bei der RF-Klassifikation im Vergleich zur SVM-Klassifikation sehr viel mehr Pixel als rote Dächer und weniger Pixel als Schatten klassfziert werden, dies muss mit den Unterschieden der Klassifikatoren zu tun haben, da die Traingsdaten gleich sind. Rein visuell betrachtet scheint die Suppport-Vector-Machine-Klassifikation genauer am Orginalbild zu sein. Ob dieser Schein trügt wird sich in der Validierung zeigen.</p>
<h2 id="validierung">Validierung</h2>
<p>RF hat eine interne Validierung diese lässt sich über den Namen der Valdierung plus $confusion darstellen. In dieser internen Validierung werden von der die Objekte zum Validieren benutzt die nicht im bootstrapped Datensatz gelangt sind. Es handelt sich hier bei um den sogenannten Out-Of-Bag-Error. Also die Klassifizierung wird anhand der Daten validiert die nicht gezogen wurden. Doch der reale Fehler des RF ist in echt meist höher als der OOB-Error. SVM besitzt keine interne Validierung. Um nun beide Klassifikatoren zu vergleichen benötigt es eine externe Validierung. Bei einer externen Validierung wird die Klassifikation mit Daten validiert, welche nicht zum Klassifizieren, also in unserem Fall nicht zum trainieren von SVM und RF benutzt wurden. Um die Klassifikation zu validieren werden pro Klasse ein bestimmte Anzahl von Punkten zufällig generiert, welche dann manuell referenziert werden. Diese Art der Stichprobenerstellung nennt sich stratifizierte Zufallsstichprobe <span class="citation" data-cites="fu">(Fenske, n.d.)</span>. Ist jeder Punkt referenziert kann nun mit Hilfe einer Konfusionsmatrix die verschieden Genauigkeiten berechnet werden. Es gibt die Benutzergenauigkeit, also die Genauigkeit die der Benutzer bei Validieren hat, aus Sicht der Klassifikation. Die Produktgenauigkeit ist die Genauigkeit, die die Klassifikation aus der Sicht des Nutzers hat und es gibt die gesamt Genauigkeit. Die gesamt Genauigkeit sind die Klassen die beim Nutzer und bei der Klassifikation über einstimmen durch die Klassen Zuordnungen die nicht übereinstimmen. Anhand dieser Daten kann man evaluieren, wie gut die Verwendbarkeit der Klassifikation ist. Des Weiteren lässt sich mit der Konfusionsmatrix auch die Genauigkeit der einzelnen Klassen betrachten. Ist eine Klasse besonders oft falsch klassifiziert, könnten die Trainingsdaten überarbeitet werden oder als Hilfe andere Daten dazu genommen werden. Dies wird in der Auswertung weiter ausgeführt.</p>
<h1 id="auswertung">Auswertung</h1>
<h2 id="svm">SVM</h2>
<table style="width:100%;">
<colgroup>
<col style="width: 3%" />
<col style="width: 10%" />
<col style="width: 3%" />
<col style="width: 6%" />
<col style="width: 4%" />
<col style="width: 5%" />
<col style="width: 6%" />
<col style="width: 6%" />
<col style="width: 10%" />
<col style="width: 6%" />
<col style="width: 6%" />
<col style="width: 6%" />
<col style="width: 6%" />
<col style="width: 7%" />
<col style="width: 6%" />
<col style="width: 6%" />
</colgroup>
<thead>
<tr class="header">
<th></th>
<th></th>
<th>References</th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Prediction</td>
<td></td>
<td>blaues Dach</td>
<td>graues Dach</td>
<td>offener Boden</td>
<td>roter Sportplatz</td>
<td>rotes Dach</td>
<td>Schatten</td>
<td>Schwimmbad mit blauen Fliesen</td>
<td>Vegetation</td>
<td>Versiegelung</td>
<td>Wasser</td>
<td>weißes Dach</td>
<td>sums</td>
<td>same class</td>
<td>user accuracy</td>
</tr>
<tr class="even">
<td></td>
<td>blaues Dach</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>-</td>
</tr>
<tr class="odd">
<td></td>
<td>graues Dach</td>
<td>0</td>
<td>16</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>5</td>
<td>0</td>
<td>2</td>
<td>24</td>
<td>16</td>
<td>0.666666666666667</td>
</tr>
<tr class="even">
<td></td>
<td>offener Boden</td>
<td>0</td>
<td>4</td>
<td>15</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>4</td>
<td>0</td>
<td>6</td>
<td>29</td>
<td>15</td>
<td>0.517241379310345</td>
</tr>
<tr class="odd">
<td></td>
<td>roter Sportplatz</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>12</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>18</td>
<td>12</td>
<td>0.666666666666667</td>
</tr>
<tr class="even">
<td></td>
<td>rotes Dach</td>
<td>0</td>
<td>7</td>
<td>3</td>
<td>4</td>
<td>10</td>
<td>0</td>
<td>0</td>
<td>2</td>
<td>7</td>
<td>0</td>
<td>0</td>
<td>33</td>
<td>10</td>
<td>0.303030303030303</td>
</tr>
<tr class="odd">
<td></td>
<td>Schatten</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>6</td>
<td>0</td>
<td>20</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>30</td>
<td>6</td>
<td>0.2</td>
</tr>
<tr class="even">
<td></td>
<td>Schwimmbad mit blauen Fliesen</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>-</td>
</tr>
<tr class="odd">
<td></td>
<td>Vegetation</td>
<td>0</td>
<td>2</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>40</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>46</td>
<td>40</td>
<td>0.869565217391304</td>
</tr>
<tr class="even">
<td></td>
<td>Versiegelung</td>
<td>0</td>
<td>35</td>
<td>0</td>
<td>0</td>
<td>4</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>18</td>
<td>0</td>
<td>2</td>
<td>61</td>
<td>18</td>
<td>0.295081967213115</td>
</tr>
<tr class="odd">
<td></td>
<td>Wasser</td>
<td>0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>15</td>
<td>0</td>
<td>0</td>
<td>6</td>
<td>14</td>
<td>0</td>
<td>37</td>
<td>14</td>
<td>0.378378378378378</td>
</tr>
<tr class="even">
<td></td>
<td>weißes Dach</td>
<td>0</td>
<td>10</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>6</td>
<td>0</td>
<td>9</td>
<td>29</td>
<td>9</td>
<td>0.310344827586207</td>
</tr>
<tr class="odd">
<td></td>
<td><strong>sums</strong></td>
<td>0</td>
<td>77</td>
<td>24</td>
<td>16</td>
<td>19</td>
<td>22</td>
<td>1</td>
<td>63</td>
<td>51</td>
<td>15</td>
<td>19</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td><strong>same class</strong></td>
<td>0</td>
<td>16</td>
<td>0</td>
<td>12</td>
<td>10</td>
<td>6</td>
<td>0</td>
<td>40</td>
<td>18</td>
<td>14</td>
<td>9</td>
<td><strong>overall same class</strong></td>
<td>140</td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td><strong>user accuracy</strong></td>
<td>-</td>
<td>0.207792207792208</td>
<td>0</td>
<td>0.75</td>
<td>0.526315789473684</td>
<td>0.272727272727273</td>
<td>0</td>
<td>0.634920634920635</td>
<td>0.352941176470588</td>
<td>0.933333333333333</td>
<td>0.473684210526316</td>
<td><strong>overall sum</strong></td>
<td>307</td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><strong>overall accuaracy</strong></td>
<td>0.456026058631922</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="rf">RF</h2>
<table style="width:100%;">
<colgroup>
<col style="width: 4%" />
<col style="width: 10%" />
<col style="width: 3%" />
<col style="width: 5%" />
<col style="width: 4%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 10%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 5%" />
<col style="width: 7%" />
<col style="width: 5%" />
<col style="width: 5%" />
</colgroup>
<thead>
<tr class="header">
<th></th>
<th></th>
<th>References</th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Prediction</strong></td>
<td></td>
<td>blaues Dach</td>
<td>graues Dach</td>
<td>offener Boden</td>
<td>roter Sportplatz</td>
<td>rotes Dach</td>
<td>Schatten</td>
<td>Schwimmbad mit blauen Fliesen</td>
<td>Vegetation</td>
<td>Versiegelung</td>
<td>Wasser</td>
<td>weißes Dach</td>
<td>sums</td>
<td>same class</td>
<td>user accuracy</td>
</tr>
<tr class="even">
<td></td>
<td>blaues Dach</td>
<td>0</td>
<td>6</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>5</td>
<td>5</td>
<td>0</td>
<td>0</td>
<td>17</td>
<td>0</td>
<td>0</td>
</tr>
<tr class="odd">
<td></td>
<td>graues Dach</td>
<td>0</td>
<td>18</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>23</td>
<td>18</td>
<td>0.782608695652174</td>
</tr>
<tr class="even">
<td></td>
<td>offener Boden</td>
<td>0</td>
<td>5</td>
<td>13</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>5</td>
<td>0</td>
<td>5</td>
<td>28</td>
<td>13</td>
<td>0.464285714285714</td>
</tr>
<tr class="odd">
<td></td>
<td>roter Sportplatz</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>16</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>24</td>
<td>16</td>
<td>0.666666666666667</td>
</tr>
<tr class="even">
<td></td>
<td>rotes Dach</td>
<td>0</td>
<td>11</td>
<td>7</td>
<td>0</td>
<td>13</td>
<td>1</td>
<td>0</td>
<td>2</td>
<td>11</td>
<td>0</td>
<td>0</td>
<td>45</td>
<td>13</td>
<td>0.288888888888889</td>
</tr>
<tr class="odd">
<td></td>
<td>Schatten</td>
<td>0</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>12</td>
<td>0</td>
<td>20</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>39</td>
<td>12</td>
<td>0.307692307692308</td>
</tr>
<tr class="even">
<td></td>
<td>Schwimmbad mit blauen Fliesen</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>-</td>
</tr>
<tr class="odd">
<td></td>
<td>Vegetation</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>35</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>36</td>
<td>35</td>
<td>0.972222222222222</td>
</tr>
<tr class="even">
<td></td>
<td>Versiegelung</td>
<td>0</td>
<td>22</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>9</td>
<td>0</td>
<td>0</td>
<td>32</td>
<td>9</td>
<td>0.28125</td>
</tr>
<tr class="odd">
<td></td>
<td>Wasser</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>9</td>
<td>0</td>
<td>0</td>
<td>6</td>
<td>14</td>
<td>0</td>
<td>30</td>
<td>14</td>
<td>0.466666666666667</td>
</tr>
<tr class="even">
<td></td>
<td>weißes Dach</td>
<td>0</td>
<td>10</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>5</td>
<td>0</td>
<td>14</td>
<td>33</td>
<td>14</td>
<td>0.424242424242424</td>
</tr>
<tr class="odd">
<td></td>
<td><strong>sums</strong></td>
<td>0</td>
<td>77</td>
<td>24</td>
<td>16</td>
<td>19</td>
<td>22</td>
<td>1</td>
<td>63</td>
<td>51</td>
<td>15</td>
<td>19</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td><strong>same class</strong></td>
<td>0</td>
<td>18</td>
<td>0</td>
<td>16</td>
<td>13</td>
<td>12</td>
<td>0</td>
<td>35</td>
<td>9</td>
<td>14</td>
<td>14</td>
<td><strong>overall same class</strong></td>
<td>144</td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td><strong>user accuracy</strong></td>
<td>-</td>
<td>0.233766233766234</td>
<td>0</td>
<td>1</td>
<td>0.68421052631579</td>
<td>0.545454545454545</td>
<td>0</td>
<td>0.555555555555556</td>
<td>0.176470588235294</td>
<td>0.933333333333333</td>
<td>0.736842105263158</td>
<td><strong>overall sum</strong></td>
<td>307</td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><strong>overall accuaracy</strong></td>
<td>0.469055374592834</td>
<td></td>
</tr>
</tbody>
</table>
<p>Bei der Durchführung sind verschiedenste Probleme aufgetreten im folgendem Text, werden diese besprochen und mögliche Lösungen oder Lösungsansätze angesprochen. Ein Problem war ist, dass das Satellitenbild Schatten beinhaltete. Schatten, welche durch Häuser und sonstige Gebäude entstanden sind waren leichter zu erkennen auf dem Satellitenbild und so mit konnten auch gut Trainingsdaten für diese erstellt werden. Doch im Laufe der Validierung kam es zu weiteren Problemen. Als Referenz wurden bei der Validierung Daten von Google Earth aus dem gleichen Jahr wie die Aufnahme zu Hilfe genommen, da diese nicht zur gleichen Tages und Jahreszeit aufgenommen wurden und auch aus anderen Aufnahmebedingungen stammen, stimmen Schatten nicht mit dem Satteliten über ein. Besonders Schatten durch Wolken und Vegetation sind sehr unterschiedlich. Bei dieser Arbeit wurden deshalb nur Schatten extern validiert, die als solche eindeutig erkennbar sind, andere Schatten wurden ausgelassen, dies hat aber den negativen Effekt, dass für die Schatten weniger Punkte validiert wurden.</p>
<p>Ein Hindernis war es auch noch, dass es Klassen, die es auf dem Trainingsbild gab nicht auf dem Testbild vorkamen, so gab es zum Beispiel auf dem Testbild Gewächshäuser mit Glasdächern, die auf dem Trainingsbild nicht vorkamen. Diese wurde im Bericht bei der externen Validierung nicht als falsch validiert, sondern ausgelassen, da es sich ja nicht um eine Falschklassfizierung durch den Algorithmus handelt, sondern um einen Fehler in den Trainingsdaten. Um diesen Fehler zu vermeiden, sollte die Klassen in Trainingsdaten und Testdaten oder in den Daten auf die der Klassifikator angewendet werden soll über einstimmen. Schließlich kann weder SVM noch RF in Klassen klassifizieren die sie nicht kennen.</p>
<p>Ein weitere Fehlerquelle ist die externe Validierung. Sie ist enorm Zeitaufwendig und trotzdem kann hier im Bericht keine genaue Aussage daraus getroffen werden. Es wurden die zu Verfügung stehenden Daten genutzt um genau wie möglich die Wahrheit über den Boden zu erlangen. Es wurden zu dem simulierten Satellitenbild noch andere Karten von Diensten, wie Google Earth hinzugenommen. Doch um eine nah zu objektive Bewertung zu erlangen bräuchte es Daten die direkt am Aufnahme Tag parallel zur Aufnahme aufgenommen wurden. Also einer Überprüfung am Boden und vor Ort. Die externe Validierung im Laufe dieser Forschungsarbeit konnte auf Grund fehlender Daten oft nicht mit besonders hoher Sicherheit gemacht werden, welches ein reiner Vergleich von RF und SVM verlangen würde.</p>
<p>Außerdem war ein Problem während der Durchführung, dass sich die Klassen oft sehr geähnelt haben, hier könnte man die spektralen Eigenschaften vergleichen und gegeben falls die Klassen zusammenführen, dies hätte aber den Effekt das Klassen, die für unser menschliches Auge gut zu unterscheiden sind zusammen gelegt werden, wie z.B. graue Dächer und Versiegelung. Will man diese Klassen dennoch unterscheiden muss man auf andere Systeme der Klassifizierung zurückgreifen oder mit einer Kombination von verschiedenen Daten arbeiten. Dächer könnte man zum Beispiel mit einem 3D-Modell erkennen. Eine weitere Möglichkeit wäre es Objekt basiert die Dächer zu erkenn mit Software, wie eCognition. Während bei pixelbasierter Klassifikation die Pixel von Pixel zu Pixel basiert werden, werden beider Objekt basierten Klassifikation mehrere Pixelgruppen zusammengefasst. Es werden also Muster und Formen erkannt. Dadurch lassen sich die Dächer besser von der Versiegelung trennen, da Dächer oft markante Formen aufweisen, wie z.B. eckig mit Rand und Schornstein <span class="citation" data-cites="gupta2014object">(Gupta and Bhadauria 2014)</span>.</p>
<h1 id="andere-paper-die-rvm-vs-svm-verglichen-haben">Andere Paper die RVM vs SVM verglichen haben</h1>
<h1 id="fazit">Fazit</h1>

<h1 class="unnumbered" id="literatur">Literatur</h1>
<div id="refs" class="references hanging-indent" role="doc-bibliography">
<div id="ref-adam">
<p>Adam, Elhadi, Onisimo Mutanga, John Odindi, and Elfatih M. Abdel-Rahman. 2014. “Land-Use/Cover Classification in a Heterogeneous Coastal Landscape Using RapidEye Imagery: Evaluating the Performance of Random Forest and Support Vector Machines Classifiers.” <em>International Journal of Remote Sensing</em> 35 (10): 3440–58. <a href="https://doi.org/10.1080/01431161.2014.903435">https://doi.org/10.1080/01431161.2014.903435</a>.</p>
</div>
<div id="ref-fu">
<p>Fenske, M.Sc. Johannes Rosentreter;Dipl.-Ing. Kristin. n.d. “SVM Classification.” <a href="https://blogs.fu-berlin.de/reseda/svm-classification/">https://blogs.fu-berlin.de/reseda/svm-classification/</a>.</p>
</div>
<div id="ref-foody">
<p>Foody, Giles M., and Ajay Mathur. 2004. “Toward Intelligent Training of Supervised Image Classifications: Directing Training Data Acquisition for SVM Classification.” <em>Remote Sensing of Environment</em> 93 (1): 107–17. <a href="https://doi.org/10.1016/j.rse.2004.06.017">https://doi.org/10.1016/j.rse.2004.06.017</a>.</p>
</div>
<div id="ref-friedman2001elements">
<p>Friedman, Jerome, Trevor Hastie, and Robert Tibshirani. 2001. <em>The Elements of Statistical Learning</em>. Vol. 1. 10. Springer series in statistics New York.</p>
</div>
<div id="ref-gupta2014object">
<p>Gupta, Neha, and HS Bhadauria. 2014. “Object Based Information Extraction from High Resolution Satellite Imagery Using eCognition.” <em>International Journal of Computer Science Issues (IJCSI)</em> 11 (3): 139.</p>
</div>
<div id="ref-liu2015novel">
<p>Liu, Tao, Jungho Im, and Lindi J Quackenbush. 2015. “A Novel Transferable Individual Tree Crown Delineation Model Based on Fishing Net Dragging and Boundary Classification.” <em>ISPRS Journal of Photogrammetry and Remote Sensing</em> 110: 34–47.</p>
</div>
<div id="ref-livingston2005implementation">
<p>Livingston, Frederick. 2005. “Implementation of Breiman’s Random Forest Machine Learning Algorithm.” <em>ECE591Q Machine Learning Journal Paper</em>, 1–13.</p>
</div>
<div id="ref-manning2008introduction">
<p>Manning, Christopher D, Hinrich Schütze, and Prabhakar Raghavan. 2008. <em>Introduction to Information Retrieval</em>. Cambridge university press.</p>
</div>
<div id="ref-okujeni2016berlin">
<p>Okujeni, Akpona, Sebastian van der Linden, and Patrick Hostert. 2016. “Berlin-Urban-Gradient Dataset 2009-an Enmap Preparatory Flight Campaign.”</p>
</div>
<div id="ref-SVMmargi82:online">
<p>“SVM Margin - Support Vector Machine - Wikipedia.” n.d. <a href="https://en.wikipedia.org/wiki/Support_vector_machine#/media/File:SVM_margin.png">https://en.wikipedia.org/wiki/Support_vector_machine#/media/File:SVM_margin.png</a>.</p>
</div>
<div id="ref-szantoi2013analyzing">
<p>Szantoi, Zoltan, Francisco Escobedo, Amr Abd-Elrahman, Scot Smith, and Leonard Pearlstine. 2013. “Analyzing Fine-Scale Wetland Composition Using High Resolution Imagery and Texture Features.” <em>International Journal of Applied Earth Observation and Geoinformation</em> 23: 204–12.</p>
</div>
<div id="ref-xu2019bearing">
<p>Xu, Gaowei, Min Liu, Zhuofu Jiang, Dirk Söffker, and Weiming Shen. 2019. “Bearing Fault Diagnosis Method Based on Deep Convolutional Neural Network and Random Forest Ensemble Learning.” <em>Sensors</em> 19 (5): 1088.</p>
</div>
</div>
<section class="footnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" role="doc-endnote"><p>Hyperebene = mathematischer Begriff für Ebenen mit n-Dimensionen, also im eindimensionalen Raum ist eine Hypereben ein Punkt im zweidimensionalen Raum eine Gerade usw. # Schwächen und Stärken der Algorithmen - Tuning einfacher bei Random Forest - Mehr Optionen bei SVM Kerneltrick, Cost, Gamma… - Svm braucht Methoden zur multiclass<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
